# Clerk Authentication
# Get your Publishable Key from https://dashboard.clerk.com/
VITE_CLERK_PUBLISHABLE_KEY=pk_test_c2FmZS1ob3VuZC03Ny5jbGVyay5hY2NvdW50cy5kZXYk

# WalletConnect (RainbowKit)
# Get your Project ID from https://cloud.walletconnect.com/
VITE_WALLETCONNECT_PROJECT_ID=3c0e9548b8b2ab66d83a590a703f1dc9

# Backend API
VITE_API_URL=http://localhost:3000/api
